@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap')
    
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: jost

.page
    overflow: hidden
    display: flex
    flex-direction: column  
    min-height: 100vh

header 
    display: flex
    justify-content: space-between
    article
        margin: 0 50px
        display: flex
        align-items: center
        padding: 10px 0

        img
            height: 40px
    
        a   
            margin: 0 20px
            text-decoration: none
            color: white
            margin: 0 20px

            i
                color: black
            
            b
                color: #e97100
            

        .auth
            background-color: #0d0b15
            padding: 6px 30px
            border-radius: 7%
            color: white
            
        .login
            border: solid 1px black
            padding: 6px 30px
            border-radius: 5%
            color: black

        .basket
            margin-right: 50px
            color: black
            i
                margin-right: 10px

    .dropbtn
        padding: 16px
        font-size: 16px
        border: none
        background: none

    .dropdown
        position: relative
        display: inline-block
        width: 200px

    .dropdown-content
        display: none
        position: absolute
        background-color: rgb(28, 28, 30)
        min-width: 160px
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
        z-index: 1

        a
            color: black
            padding: 12px 16px
            text-decoration: none
            display: block
            color: white
        


    .dropdown:hover .dropdown-content
        transition: .3s
        display: block


.footer
    margin-top: auto 
    display: flex
    justify-content: center 
    background-color: rgb(28, 28, 30)

    

    article
        margin: 50px 150px 
        display: flex
        flex-direction: column

        h2, h1
            margin-bottom: 50px
            color: white
        
        a 
            text-decoration: none
            color: white
            margin: 10px 0

            &:hover
                transition: .3s
                color: #6d6d6d

        figure
            display: flex
            flex-direction: row

            input
                outline: none !important
                background: none
                border: none
                color: white 
                width: 200px
                height: 20px
                margin-top: 10px
                margin-right: 10px
            
            button
                background: none
                padding: 5px 20px
                color: white
                border-radius: 5%

        hr
            margin-top: 0
            color: #6c6c6c
            max-width: 200px

        
            


.opacity
    &:hover
        transition: .5s
        filter: opacity(70%)



