{% extends 'camicetta/base.html' %} 
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'camicetta/css/login.css' %}">

{% endblock %}

{% block content %}
    <section class="container">
        
        <section class="form">
            <h1>Авторизация</h1>
            <article>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Введите имя пользователя" id="login" name="login">
                    <input type="password" placeholder="Введите пароль" name="password">
                    <hr>
                    <button>Войти</button>
                    <a href="{% url 'register' %}">Регистрация</a>
                </form>
            </article>
        </section>
    </section>
        
{% endblock %}

