{% extends 'camicetta/base.html' %} 
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'camicetta/css/register.css' %}">
{% endblock %}

{% block content %}
    <section class="container">
        <section class="form">
            <h1>Авторизация</h1>
            <article>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for f in form %}
                        {{ f }}

                        {% if f.errors %}
                        <h6>{{ f.errors }}</h6>
                        {% endif %}
                    {% endfor %}
                    <hr>
                
                    <button>Войти</button>
                    <a href="{% url 'register' %}">Зарегистрироваться</a>
                </form>   
            </article>
        </section>
    </section>
{% endblock %}

